:root {

    font-size: 14px;
    --principalcolor: #0f6dfa;
    --secondcolor: rgb(38, 241, 214);
    --thirdcolor: #0a0afe;
    --titlecolor: rgb(87, 85, 85);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

header {
    padding: 20px;
    background-color: var(--thirdcolor);
}

#titre {
    h1 {
        font-size: 3rem;
        font-weight: bold;
        color: var(--principalcolor);

    }

    p {
        font-size: 1.8rem;
        text-align: center;
        color: var(--thirdcolor);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.navbar a {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

}

.navbar a:hover {
    text-decoration: underline;
}

main {

    margin: 10px;

}

#presentation {
    h2 {
        color: var(--principalcolor) !important;
        text-align: center;
        font-size: 1.8rem !important;
        padding-bottom: 10px;
    }

    p {
        font-weight: bold;
        color: var(--titlecolor);
        text-align: center;
    }
}



.row {
    align-items: center;
}



/* Page des fonctionnnalités  */

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--principalcolor);
    padding: 2rem;
    margin: 1rem;

}


img {
    width: 100%;
    box-shadow: 10px;
    overflow: hidden;
}

#features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 1rem;

    h2 {
        color: rgb(87, 85, 85) !important;
        text-align: start;
        font-size: 1.8rem !important;
        padding-bottom: 10px;
    }

}



section {
    padding: 1rem;



}



article {
    background-color: rgba(128, 128, 128, 0.066);
    border: 1px solid var(--article-border-color);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    transition: transform 0.2s, box-shadow 0.2s;

}

article:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

article div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



article h2 {
    color: var(--principalcolor);
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 0;
}

article p {

    font-size: 1.2rem;
    font-weight: bold;
    color: #495057;
}

article ul {

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}





.btn {
    background-color: var(--thirdcolor);
    color: white;
}


footer {
    text-align: center;
    background-color: var(--thirdcolor);
    color: white;
    padding: 10px;


    ul {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-around;
        padding: 10px;

        font-size: 1rem;

        li {
            a {
                list-style: none;
                text-decoration: none;
            }

        }
    }

    p {
        font-size: 0.9rem;
        font-weight: lighter;
    }

}

/* Media queries pour les tablettes */
@media (min-width: 768px) {

    section {
        h2 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.5rem;
        }

        ul li {
            font-size: 1.3rem;
        }
    }


    #vad {
        height:20rem;
        align-content: center;
        h3 {
            font-size: 1.9rem;
        }
    }
}



@media (min-width:1200px) {

    section {
        h2 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.2rem;
        }

        ul li {
            font-size: 1rem;
        }
    }

    #features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 1rem;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;

        div {
            padding: 10px;
        }
    }

    a {
        list-style: none;
    }

}